/*
 * Remove the up/down arrows from number input fields 
 */

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
 * Fixes the position of the right icon in a select field when using Bulma's
 * "has-icons-right" class.
 */

.control.has-icons-right .select + .icon.is-right {
  right: 1.75em;
}

/*
 * Make the .main full height when a footer is present.
 */

main:has(+ footer),
main:has(+ .footer) {
  min-height: calc(100vh - 82px);
}
